{% extends 'base_for_function.html' %} 

{% block function_title %}
    Collocation
{% endblock %}

{% block function_content %}
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper faucibus ipsum ac euismod. Nam ac erat iaculis, dictum nunc at, aliquet mi. Quisque ac commodo justo, id aliquet mi. Mauris quis dignissim ante. Proin eget sem tristique tellus pulvinar placerat vel sit amet velit. </p>

<div class="row section">
	<h5>Enter the query word</h5>
	<div class="col s12 m8 l4">
		<input placeholder="範例: 台大" id="collocation_query" type="text" class="validate">
    	
	</div>

</div>
{% endblock %} 

{% block extra_js %}
<script>

</script>
{% endblock %}