{% extends 'base.html' %} {% block main %}


<div id="index" class="row section">
    <div class="col l9" style="width: 80%; height:300px; border: 1px solid black">
        文字雲圖
    </div>  
    <div class="col s12 m12 l9">
        <div class="row section">
            <div class="col s12">
                <h5>What is PTT?</h5>
                <p class="">
                    PTT(批踢踢) is a terminal-based bulletin board system (BBS) based in Taiwan, which contains over 20,000 discussion boards with more than 1.5 million registered users, and over 10,000 articles are posted everyday.
                </p>
            </div>
            <div class="col s12">
                <h5>What is PTT Corpus?</h5>
                <p>
                    PTT Corpus is the first interactive interface which exploits PTT data for users to query words, make concordance, compare numbers of positive and negative comments of posts, etc.
                </p>
            </div>

            <div class="col s12">
                <h5>What is the purpose of PTT Corpus?</h5>
                    <p>
                        PTT(批踢踢) is a terminal-based bulletin board system (BBS) based in Taiwan, which contains over 20,000 discussion boards with more than 1.5 million registered users, and over 10,000 articles are posted everyday.
                    </p>
            </div>
            <div class="col s12">
                <h5>When does PTT Corpus update?</h5>
                <p>
                    Everyday.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h3>Data</h3>
                <table>
                    <thead>
                        <tr>
                            <th>
                                Board
                            </th>
                            <th>
                                Posts
                            </th>
                            <th>
                                Last Update
                            </th>
                            <th>
                                First Post
                            </th>
                            <th>
                                Raw Tokens
                            </th>
                            <th>
                                Raw Types
                            </th>
                            <th>
                                Word Tokens
                            </th>
                            <th>
                                Word Types
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col s3"></div>
        </div>

        <div class="section row">
            <div class="col s12">
                <h3>License</h3>
                <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/tw/"><img alt="創用 CC 授權條款" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/tw/88x31.png" /></a></p><p> 本著作係採用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/tw/">創用 CC 姓名標示-非商業性-相同方式分享 3.0 台灣 授權條款</a>授權.</p>
            </div>
        </div>

        <div class="section row">
            <div class="col s12">
                <h3>Contact</h3>
            </div>
        </div>

    </div>
    <div class="col s12 m12 l3"></div>

    


{% endblock %}