{% extends 'base_for_function.html' %} 

{% block function_title %}
    Segmentation
{% endblock %}

{% block function_content %}
<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h5>Jseg 結巴斷詞系統 <a href="https://github.com/amigcamel/Jseg">Github repo</a></h5>
        <div class="divider"></div>
        <ul>
            <li>- An enhanced version of <a href="https://github.com/fxsjy/jieba">Jieba</a> segmentator.</li>
            <li>- Using directed acyclic graph</em> (DAG) and Hidden Markov Model (HMM) to segmentate Chinese words.</li>
            <li>- Data are trained with Sinica Corpora. Equipped with Emoticon detection. F1-score: 0.91</li>
        </ul>

        <h5>PyCCS 中研院線上斷詞API <a href="https://github.com/amigcamel/PyCCS">Github repo</a></h5>
        <div class="divider"></div>
        <ul>
            <li>- An API for <a href="http://ckipsvr.iis.sinica.edu.tw/">CKIP Segmentator</a> written in Python</li>
            <li>- Automatically separate word and POS tags</li>
            <li>- Html-like tag can be segmentated normally</li>
        </ul>

        <h5>Segcom</h5>
        <div class="divider"></div>
        <ul>
            <li>- A tool for comparing the different results from Jseg and PyCCS</li>
        </ul>

    </div>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper faucibus ipsum ac euismod. Nam ac erat iaculis, dictum nunc at, aliquet mi. Quisque ac commodo justo, id aliquet mi. Mauris quis dignissim ante. Proin eget sem tristique tellus pulvinar placerat vel sit amet velit. </p>
<div class="row section">
    <form>
        <div class="col s12 l6">
            <h5>1. Input the text</h5>
            <textarea id="textarea1" placeholder="範例: asdfasdf"></textarea>
        </div> 
        <div class="col s12 l6" style="margin-bottom: 0">
            <h5>2. Choose an algorithm</h5>
            <div>
                <a class="modal-trigger" href="#modal1">What's the difference?</a>
            </div>
            <p>
              <label>
                <input class="with-gap" name="group1" type="radio" checked />
                <span>Jseg</span>
              </label>
            </p>
            <p>
              <label>
                <input class="with-gap" name="group1" type="radio" />
                <span>PyCCS</span>
              </label>
            </p>
            <p>
              <label>
                <input class="with-gap" name="group1" type="radio"  />
                <span>Segcom</span>
              </label>
            </p>
            <div>
                
            </div>
            <div>
                <div class="btn waves-effect waves-light valign-wrapper blue-grey lighten-3" type="submit" name="action" style="width:100%; height: 60px"><p>Submit</p>
                </div>
            </div>
             
        </div>
    </form>
    <!--
    <div class="col s12">
        <textarea id="textarea1"></textarea>
        <label for="textarea1"></label>
    </div>
-->
</div>


{% endblock %} 

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // var elems = document.querySelectorAll('select');
        // var instances = M.FormSelect.init(elems, );
        var elem = document.querySelectorAll('.modal');
        var instance = M.Modal.init(elem);
    });
</script>
{% endblock %}